<div class="modal hide fade" id="md-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Markdown 101</h3>
  </div>
  <div class="modal-body">
    <p>Markdown is an easy way to format text. It's based on emailing conventions.</p>

    <h4>The Basics</h4>
    <p>Text formatted like this: <code>**Bold** text. *Italics* text.</code> becomes: </p>
    <p><strong>Bold</strong> text. <em>Italics</em> text.</p>

    <h4>Headings</h4>
    <p>There are six levels of headings</p>
    <pre>
      # First level heading
      # Second level heading
      ### Third level heading
      ... (and so on)
    </pre>

    <h4>Images and links</h4>
    <p>You can use the handy dandy wizards to help, but just in case: </p>
    <pre>
      Images:
        ![Caption. Is shown when user hovers mouse over image.](http://www.google.com/some-image-url.jpg)
      Links:
        [Click Here!!!](http://www.disney.com)
    </pre>
    <p>Ask Ethan for anything else. :D</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<p>
  Edit using Markdown.
  <a href="#md-help" role="button" class="btn" data-toggle="modal">Markdown Help Guide</a>
</p>