/*
*= require_self
*= require token-input
*= require buttons
*/

/* Basic definitons */
$red: #c30f0f;
$dark-grey: #313131;
$header-grey: #a5a5a5;
$bg-grey: #f6f6f6;
$light-grey: #c3c3c3;
$dark-green: #407b31;

$container-width: 900px;
$content-width: 860px;

/* Basic imports */
@import "forms", "tooltips", "cute_box";

/* module imports */
@import "posts", "sections";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);

/* LAYOUT */
html {
	padding: 0;
	margin: 0;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url( image-path('satinweave-texture.png') );
	background-color: $bg-grey;
	font-family: 'Quattrocento Sans', "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif; 
}

div#container {
	width: $container-width;
	text-align: center;
	padding: 20px 0 0 0;
	margin: 0 auto 0 auto;
	margin-top: -20px;
	background-color: white;
}
header {
	$margin: 10px;
	$padding: 15px;
	$width: $container-width - ($margin * 2) - ($padding *2);

	width: $width;
	padding: 0 $padding 0 $padding;
	margin: 0 $margin 0 $margin;
}
header h1 {
	/*font-family: "Arial Narrow",Tahoma, Geneva, Verdana, sans-serif;*/
	font-family: 'Quattrocento', cursive;
	font-size: 70px;
	text-transform: small-caps;
	letter-spacing: -1px;
	text-align: left;
	text-indent: 30px;
	border-top: 1px dotted $dark-grey;
	padding: 10px 0;
	margin: 20px 0;
	color: $dark-grey;

	$logo-height: 100px;
	height: $logo-height;
	line-height: $logo-height;

	&:before {
		content: " ";
		background: url(image-path('gecko-small.png')) transparent no-repeat;
		width: 158px;
		height: $logo-height;
		display: block;
		float: left;
	}
}
header p.slogan {
	text-align: left;
	text-indent: 100px;
	margin-top: -40px;
}

header nav {
	border-bottom: 1px dotted $dark-grey;
	display: inline-block;
	width: 100%;
	text-align: left;
	height: 30px;
	border: 1px dotted $dark-grey;
	border-width: 1px 0 1px 0; // only top and bottom borders
	padding-top: 10px;
	
	a {
		padding-left: 20px;
		font-weight: bold;
		font-size: 115%;
		background-color: $header-grey;
		color: white;
		text-decoration: none;
		font-family: 'Quattrocento', serif;
		padding: 5px 20px;
		font-variant: small-caps;
	}
}

header nav a:hover {
	text-decoration: underline;
}

#user {
	width: 300px;
	margin-top: 45px;
	float: right;
/*	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
	background-color: $header-grey;
	height: 60px;
}
div#content {
	margin: 0;
	width: 860px;
	text-align: left;
	padding: 0 20px;

	display: inline-block;
}
#main {
	float: left;
	width: 540px;
	padding: 30px;
}
#side {
	float: right;
	width: 280px;
	padding: 10px;
}

#flash {
	padding: 0 auto 0 auto;
	text-align: center;
	height: 37px;
	margin-bottom: 10px;
}
#notice, #alert {
	display: inline-block;
	border: 1px solid;
	border-radius: 3px;
	color: white;
	padding: 8px 15px;
	text-align: center;
}
#notice {
	background-color: $dark-green;
	border-color: $dark-green;
}
#alert {
	background-color: $red;
	border-color: $red;
}

#comments {
	border: 1px dotted $dark-grey;
	background-color: #eaeaea;
	padding: 20px 10px 20px 10px;
}

#login { 
	width: 500px;
	padding: 10px;
	margin: 0 auto 0 auto;
/* 	border: 3px solid $light-grey;
 */}
#login ul {
	list-style-type: none;
	font-family: Arial;
}

 #login button {
	float: right;
	/*color: $dark-grey;
	border: 3px solid $dark-grey;
	background-color: $light-grey;*/
} 
#token-input-post_tag_tokens {
	border: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0;
}

.pagination {
	text-align: center;
	span {
		background-color: $dark-grey;
		@include box;

		a {
			color: white;
			text-decoration: none;
		}
	}

	.current {
		background-color: $dark-green;
	}

	margin-bottom: 20px;
}

blockquote {
	border-left: 1px dotted $light-grey;
	padding-left: 10px;
}
hr {
	border: none;
	border-top: 1px dotted $light-grey;
}

footer {
	height: 50px;
	margin-top: 20px;
}
