input[type="submit"] {
	padding: 10px 20px 10px 20px;
	background-color: $dark-green;
	border-radius: 3px;
	border: 1px solid $dark-green;
	color: white;
}

input[type="submit"]:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 5px $dark-green;
	-webkit-box-shadow: 0 0 5px $dark-green;
	box-shadow: 0 0 4px $dark-green;
}

div.field {
	display: inline-block;
	width: $content-width;
}
input[type="text"], input[type="password"], textarea {
	font-size: 18px;
	/*font-family: Georgia, Palatino, "Palatino Linotype","Times New Roman",serif;*/
	/*padding: 5px 10px 5px 10px;*/
	padding: 5px;
	height: 25px;
	width: $content-width * .4;
	margin: 0 5px 10px 0;
	border: 1px solid $light-grey;
	border-radius: 3px;
	outline: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	float: left;
}

textarea {
	height: 75px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
/*	border: 1px solid $red;
	-moz-box-shadow: 0 0 5px $red;
	-webkit-box-shadow: 0 0 5px $red;
	box-shadow: 0 0 5px $red;
	border: 3px solid $red*/
	border-color: $dark-green;
	-moz-box-shadow: 0 0 5px $dark-green;
	-webkit-box-shadow: 0 0 5px $dark-green;
	box-shadow: 0 0 4px $dark-green;
	-webkit-appearance: none;
}

.field_with_errors input[type="text"], .field_with_errors input[type="password"], .field_with_errors textarea {
	border-color: $red;
	-moz-box-shadow: 0 0 5px $red;
	-webkit-box-shadow: 0 0 5px $red;
	box-shadow: 0 0 4px $red;
}

label {
	font-size: 1.5em;
}

#post_content {
	/*we assume there can be no errors on the content area*/
	width: $content-width;
	height: 500px;
}